@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #f59e0b;
}

*{
  font-family: 'Playwrite PL';
}

.font-playwrite-hu {
  font-family: 'Playwrite HU' !important;
}